@(corp: List[Tuple2[String,List[Corp_acc_smry]]],countryis: List[String])

@import helper._
@main("Wvb periods list") {
<link rel='stylesheet' media='screen' href='@routes.Assets.at("bootstrap/css/bootstrap.min.css")'>
<link rel='stylesheet' media='screen' href='@routes.Assets.at("bootstrap/css/responsive.min.css")'>  
<script type='text/javascript' src='@routes.Assets.at("bootstrap/js/bootstrap.min.js")'></script>
    <h2 class="page-header">Period count of WVB companies after FY2011</h2>
    <p class="">Total periods: @corp.size</p>
    <p class="">Country Coverage: @countryis.size</p>
    	@for((p, index) <- corp.zipWithIndex) {
    		@if((index + 1) %4 == 1){
    			<div class="row">
    		}
    <div class="col-md-3">
   	 <div class="panel panel-default">
  			 	 
        <div class="panel-heading">
              <h3 class="panel-title">@Html("Country") @p._1 @Html(":")  @p._2.size @Html("periods") </h3>
        </div>
       	 <div class="panel-body"> 
       	 	<div class="col-md-4"><div class="panel-title">2011</div>     		
        		@p._2.filter(c => c.year == 2011 ).map { cp =>
                	<b>@cp.period @Html(":")</b>	@cp.count
                  	} 
             </div>
              <div class="col-md-4"><div class="panel-title">2012</div>        		
        		@p._2.filter(c => c.year == 2012 ).map { cp =>
					<b>@cp.period  @Html(":")</b>	@cp.count
                  	} 
             </div>	
              <div class="col-md-4"><div class="panel-title">2013</div>        		
        		@p._2.filter(c => c.year == 2013 ).map { cp =>
					<b>@cp.period @Html(":")</b>	@cp.count
                  	} 
             </div>		
       	</div>
  	  </div>
    </div>
        	@if((index + 1) %4 == 0){
    			</div>
    		}
         }
    </div>
}
