@(corp: List[Tuple2[String,List[Corp_acc_smry]]],countryis: List[String],spr_in_header:String)

@import helper._
@main("Multi periods list") {
	<div id="side">
  	  @views.html.navi()
	</div>
    <h3 class="page-header">Period count of WVB FY2011~13("FY4","QT1","QT2","QT3")</h3>
    <p class="">Country Coverage: @countryis.size</p>
    <p class="">Total periods: @corp.size</p>
    @for((p, index) <- corp.zipWithIndex) {
    		@if((index + 1) %4 == 1){
    			<div class="row">
    		}
    <div class="col-md-3">
   	 <div class="panel panel-default">
  			 	 
        <div class="panel-heading">
              <h3 class="panel-title">@Html("Country") @p._1 @Html(":")  @p._2.size @Html("periods") </h3>
        </div>
       	 <div class="panel-body"> 
       	 	<div class="col-md-4"><div class="panel-title">2011</div>     		
        		@p._2.filter(c => c.year == 2011 ).map { cp =>
                	<span id="@p._1@cp.period"><b>@Html("FY")@cp.period@Html(":")</b> @cp.count </span>
                  	} 
             </div>
              <div class="col-md-4"><div class="panel-title">2012</div>        		
        	    @p._2.filter(c => c.year == 2012 ).map { cp =>
                	<span id="@p._1@cp.period"><b>@Html("FY")@cp.period@Html(":")</b> @cp.count </span>
                  	} 
             </div>	
              <div class="col-md-4"><div class="panel-title">2013</div>        		
        		@p._2.filter(c => c.year == 2013 ).map { cp =>
                	<span id="@p._1@cp.period"><b>@Html("FY")@cp.period@Html(":")</b> @cp.count </span>
                  	} 
             </div>		
       	</div>
  	  </div>
    </div>
        	@if((index + 1) %4 == 0){
    			</div>
    		}
         }
    </div>
}
