@(corp: List[Corp_acc_smry])

@import helper._
@main("NRI periods list") {
	<div id="side">
  	  @views.html.navi()
	</div>
    <h2 class="page-header">Period count of NRI companies after FY2010</h2>
    <p class="">Total periods: @corp.size</p>
    <div class="row">
    <div class="col-md-3">
   	 <div class="panel panel-default">
        <div class="panel-heading">
              <h3 class="panel-title">2011</h3>
        </div>
        <div class="panel-body">
  		    	<ul>
        		@corp.filter(p => p.year == 2011 ).map { p =>
        		<li>
                 @Html("FY") @p.period   @p.count
           		 </li>
       			 }
    		</ul>
        </div>
  	  </div>
    </div>
     <div class="col-md-3">
   	 <div class="panel panel-default">
        <div class="panel-heading">
              <h3 class="panel-title">2012</h3>
        </div>
        <div class="panel-body">
  		    	<ul>
        		@corp.filter(p => p.year == 2012 ).map { p =>
        		<li>
                 @Html("FY") @p.period   @p.count
           		 </li>
       			 }
    		</ul>
        </div>
      </div>
    </div>
     <div class="col-md-3">
   	 <div class="panel panel-default">
        <div class="panel-heading">
              <h3 class="panel-title">2013</h3>
        </div>
        <div class="panel-body">
  		    	<ul>
        		@corp.filter(p => p.year == 2013 ).map { p =>
        		<li>
                 @Html("FY") @p.period   @p.count
           		 </li>
       			 }
    		</ul>
        </div>
  	  </div>
    </div>
    </div>
}
